.chat {
  .chat-info {
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #d3d3d3;

    .chat-icons {
      display: flex;
      gap: 10px;

      img {
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
